.header {
  background-color: #fcdb00;
}

.header_navbar {
  line-height: 130px;
  font-weight: bold;
  text-align: center;
}

.header_navbar-text {
  color: #010101;
  font-size: 22px;
}

.header_navbar .col-md-1 {
  margin-right: 65px;
}
