//150px
.header
    background-color: $header
    &_navbar
        line-height: 140px
        font-weight: bold
        text-align: center
        &-text
            color: $navbar-text 
            font-size: 22px
            text-decoration: none
            cursor: pointer
            &:hover
                color:#303030
                transition: all 0.5s
        .col-md-1
            margin-right: 65px
    &_information
        &-text
            &-title
                font-weight: bold
                font-size: 32px
                color: $navbar-text
                margin-top: 10%
            &-under-title
                font-size: 20px
                color: $header-under-title
            &-main 
                font-size: 16px
                color: $header_main-text
        .container
            .col-1
                margin-top: 30px
                margin-right: 30px
                margin-bottom: 30px
        .ipad
            margin-bottom: 90px
.features
    margin-top: 20px
    text-align: center
    &_text
        &-title
            font-size: 32px
            color: $navbar-text
            font-weight: bold
        &-under-title
            font-size: 20px
            color: $header-under-title
        h4
            font-size: 22px
            color: $navbar-text
        p
            font-size: 16px
            color: $header_main-text
    .col-xl-3
        text-align: left
    .last_row
        margin-bottom: 110px
    .row
        margin-top: 90px
.bottom
    text-align: center
    background-color: $navbar-text
    &_text
        &-title
            margin-top: 70px
            font-size: 32px
            color: $header
            font-weight: bold
        &-under-title
            font-size: 20px
            color: $header-under-title
    .row
        margin-top: 10px
        .col-xl-2
            text-align: center
            color: #ffffff
            margin-bottom: 60px     
    .btn-outline-secondary
        font-weight: bold
        margin-left: 20px
        background-color: $header
        color: $navbar-text
        &:hover
            color: $header-under-title